html {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    font-family: inherit;
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
}

.pointer-events--none {
    pointer-events: none;
}

/* preview code format */
.preview {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    background-color: #EEE;
    font-family: monospace;
    color: #333;
}
/* /preview code format */

.gallery-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 35.4em;
    height: 14em;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    min-width: 13.6rem;
    min-height: 13.6rem;
    margin: 0.2em;
    align-items: center;
    justify-content: center;
    background-size: contain;
    border-radius: 0.4em;
    font-size: 0.84em;
}
.gallery-item:not(:first-of-type) {
    background-image: url("https://placekitten.com/200/200");
}

.async-data {
    font-family: monospace;
    color: #333;
    user-select: none;
    margin: 2em;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    border: none;
    background:
        linear-gradient(
            to right,
            rgba(3, 218, 197, 1) 50%,
            rgba(3, 218, 197, 0.38) 50%
        );
    background-size: 202% 100%;
    background-position: right;
    animation: 5s linear async-data-timeout forwards;
}
@keyframes async-data-timeout {
    to { background-position: left }
}
